.App {
  text-align: center;
  width: 100%;
  background-color: rgb(240, 234, 234);
}

.myTitle {
  color: red;
}
.myFirstImage {
  width: 600px;
  height: 350px;
  margin: 5px;
}
.mySecondImage {
  width: 600px;
  height: 350px;
  margin: 5px;
}
